@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBM Plex Sans Thai";
    font-style: normal;
    font-weight: normal;
    src: local(""),
      url("assets/fonts/ibm-plex-sans-thai-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("assets/fonts/ibm-plex-sans-thai-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: "IBM Plex Sans Thai";
    font-style: normal;
    font-weight: bold;
    src: local(""),
      url("assets/fonts/ibm-plex-sans-thai-bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("assets/fonts/ibm-plex-sans-thai-bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

* {
  font-family: "IBM Plex Sans Thai", system-ui, sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  margin: 0;
  padding: 0;
  background: #dcd6f7;
  color: #424874;
  color-scheme: light dark;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.75;
  min-height: 100vh;

  overflow-wrap: break-word;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #dcd6f7;
}

p {
  margin-bottom: 1rem;
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}
